/* Widen the search field on the navbar.
   If you change these numbers, check the fit by stretching the browser width. */

nav.navbar {
  width: 100%;
  max-width: 100%;
}

div.navbar-header {
  width: 70%;
  max-width: 70%;
}

form.navbar-form-custom {
  width: 80%;
  max-width: 80%;
}
