<!--

CONSULTANT PROFILE

Your Name

/Tell briefly about your current position in your own words, e.g.:
Senior consultant within the area of Information management and
Data warehousing. Born 19xx and graduated from XXX in 19xx.
[Name]’s main strengths is architecture and modelling of complex
information management solutions, [Name] have the ability to take
the business requirements and re-conceptualize them into logical
and physical architectures that takes total cost of ownership into
account./

[Name] have experience from most lines of businesses and have
worked with EDW architecture in within manufacturing, telecom,
retail, insurance, banking and finance.

[Name]’s main role is to work as lead architect and expert
support in projects, [Name] is also responsible for the information
management solution area at Affecto.

Contact (optional)
LinkedIn: link to your profile
Twitter: link to your profile
Email: your email address
Mobile: +358 your number

Competencies
• Enterprise Data Warehouse / Business Intelligence
• MDM (Master Data Management)
• Data modelling and data base design
• IT-architecture
• Project management
• Education
• EAI, Enterprise Application Integration

Tools
• Databases: MS SQL Server, Oracle, DB2, Sybase, Informix, Teradata, RedBrick
• Integrationtools: Mercator, Ascential XT (EDIFact, SWIFT, ebXML, WebServices)
• ETL: Informatica, BusinessObjects Data Services and IBM information Server
• BI-tools: Business Objects, Cognos Reportnet, Cognos 8, Brio, MS BI

Recent assignments:

TIME, PROJECT NAME, CUSTOMER INDUSTRY

ROLE IN THE PROJECT, DESCRIPTION, USED TECHNOLOGIES, USED METHODOLOGIES

CUSTOMER BENEFITS, REFERENCE


-->
