<div class="wrapper wrapper-content">
  <div class="row">

    <div class="col-lg-3" *ngFor="let person of people">
      <div class="contact-box">
        <a [routerLink]="['/people', person.id]">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle circle-border m-t-xs img-responsive person-picture"
                   [src]="person.picture">
              <div class="m-t-xs font-bold">{{ person.title }}</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>{{ person.name }}</strong></h3>

            <div class="tab-container">
              <span *ngFor="let tag of person.locations">
                <span class="tag-location">{{ tag }}</span>
              </span>
              <span *ngFor="let tag of person.roles">
                <span class="tag-role">{{ tag }}</span>
              </span>
              <span *ngFor="let tag of person.skills">
                <span class="tag-skill">{{ tag }}</span>
              </span>
            </div>

          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>

  </div>
</div>
