<div class="wrapper wrapper-content">

  <div class="row m-b-lg m-t-lg">

    <div class="col-md-8">
      <div class="profile-image">
        <img [src]="person.picture" class="img-circle circle-border m-b-md" alt="profile" width="128">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins">{{ person.name }}</h2>
            <h4>{{ person.title }}</h4>
            <p>{{ person.description }}</p>
            <div class="tab-container">
              <span *ngFor="let tag of person.locations">
                <span class="tag-location">{{ tag }}</span>
              </span>
                <span *ngFor="let tag of person.roles">
                <span class="tag-role">{{ tag }}</span>
              </span>
                <span *ngFor="let tag of person.skills">
                <span class="tag-skill">{{ tag }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="col-md-3">
      <table class="table small m-b-xs">
        <tbody>
        <tr>
          <td><strong>142</strong> Projects</td>
          <td><strong>22</strong> Followers</td>
        </tr>
        <tr>
          <td><strong>61</strong> Comments</td>
          <td><strong>54</strong> Articles</td>
        </tr>
        <tr>
          <td><strong>154</strong> Tags</td>
          <td><strong>32</strong> Friends</td>
        </tr>
        </tbody>
      </table>
    </div>
  -->
  </div>

  <div class="row">

    <div class="col-lg-3">

      <div class="ibox">
        <div class="ibox-content">
          <h3>Teams</h3>
          <div class="user-friends">
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a3.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a1.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a2.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a4.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a5.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a6.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a7.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a8.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a2.jpg"></a>
            <a href=""><img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v2.7/img/a1.jpg"></a>
          </div>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-content">
          <h3>Interests</h3>
          <div>
            <span class="label">Fishing</span>
            <span class="label">Fishing</span>
            <span class="label">Fishing</span>
            <span class="label">Fishing</span>
          </div>
        </div>
      </div>


    </div>

    <div class="col-lg-5">

      <div class="social-feed-box">

        <div class="pull-right social-action dropdown">
          <button data-toggle="dropdown" class="dropdown-toggle btn-white">
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu m-t-xs">
            <li><a href="#">Config</a></li>
          </ul>
        </div>
        <div class="social-avatar">
          <a href="" class="pull-left">
            <img alt="image" [src]="person.picture">
          </a>
          <div class="media-body">
            <a href="#">
              {{ person.name }}
            </a>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
          </div>
        </div>
        <div class="social-body">
          <p>
            I'm currently studying <small><span class="tag-skill">Angular 2</span></small>,
            so if anyone happens to have projects involving that skill, please let me know.
          </p>
          <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
          </div>
        </div>
        <div class="social-footer">
          <div class="social-comment">
            <a href="" class="pull-left">
              <img alt="image" src="http://orig02.deviantart.net/2712/f/2015/037/b/6/troll_face_scrooge_mcduck___with_hat___by_mroncelermuniz-d8gyi7k.png">
            </a>
            <div class="media-body">
              <a href="#">
                Scrooge McDuck
              </a>
              Do you think that's a good investment, financially?
              <br/>
              <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
              <small class="text-muted">12.06.2014</small>
            </div>
          </div>

          <div class="social-comment">
            <a href="" class="pull-left">
              <img alt="image" src="https://img.clipartfest.com/b714412c249b5a97fe5c392f6c628c6f_mickey20mouse20head-mickey-mouse-face-clipart_890-800.gif">
            </a>
            <div class="media-body">
              <a href="#">
                Mickey Mouse
              </a>
              You dastardly duck!
              <br/>
              <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
              <small class="text-muted">10.07.2014</small>
            </div>
          </div>

          <div class="social-comment">
            <a href="" class="pull-left">
              <img alt="image" src="http://webapplayers.com/inspinia_admin-v2.7/img/a3.jpg">
            </a>
            <div class="media-body">
              <textarea class="form-control" placeholder="Write comment..."></textarea>
            </div>
          </div>

        </div>

      </div>

      <div class="social-feed-box">

        <div class="pull-right social-action dropdown">
          <button data-toggle="dropdown" class="dropdown-toggle btn-white">
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu m-t-xs">
            <li><a href="#">Config</a></li>
          </ul>
        </div>
        <div class="social-avatar">
          <a href="" class="pull-left">
            <img alt="image" [src]="person.picture">
          </a>
          <div class="media-body">
            <a href="#">
              {{ person.name }}
            </a>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
          </div>
        </div>
        <div class="social-body">
          <p>
            We got a tentative termination date for our current project, but since it's not
            final, I'm not marking my time free yet.
          </p>
          <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
          </div>
        </div>
        <div class="social-footer"></div>

      </div>


    </div>
    <div class="col-lg-4 m-b-lg">
      <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon navy-bg">
            <i class="fa fa-briefcase"></i>
          </div>

          <div class="vertical-timeline-content">
            <h2>Acme Corp - Intranet</h2>
            <div>
              <span class="tag-role">Architect</span>
              <span class="tag-skill">SharePoint</span>
            </div>
            <p>
              This is a project description. It gives the reader an idea of what you've been up to recently,
              and whether this experience can significantly impact the customer's purchase decision.
            </p>
            <span class="vertical-date"><small>Apr 2016 - </small></span>
          </div>
        </div>

        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon blue-bg">
            <i class="fa fa-file-text"></i>
          </div>

          <div class="vertical-timeline-content">
            <h2>Globex - Publishing platform</h2>
            <div>
              <span class="tag-role">Developer</span>
              <span class="tag-skill">Java</span>
              <span class="tag-skill">Spring</span>
              <span class="tag-skill">PostgreSQL</span>
              <span class="tag-skill">Agile</span>
            </div>
            <p>
              This is a project description. It gives the reader an idea of what you've been up to recently,
              and whether this experience can significantly impact the customer's purchase decision.
            </p>
            <span class="vertical-date"><small>Feb 2014 - Apr 2016</small></span>
          </div>
        </div>

        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon lazur-bg">
            <i class="fa fa-coffee"></i>
          </div>

          <div class="vertical-timeline-content">
            <h2>Soylent - Coffee website</h2>
            <div>
              <span class="tag-role">Architect</span>
              <span class="tag-role">Project Manager</span>
              <span class="tag-role">Developer</span>
              <span class="tag-skill">Python</span>
              <span class="tag-skill">Flask</span>
              <span class="tag-skill">PostgreSQL</span>
              <span class="tag-skill">Agile</span>
            </div>
            <p>
              This is a project description. It gives the reader an idea of what you've been up to recently,
              and whether this experience can significantly impact the customer's purchase decision.
            </p>
            <span class="vertical-date"><small>Feb 2012 - Apr 2014</small></span>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
