/**
 * Material Design Lite + color specs.
 */

// Fonts

$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
@import "~material-design-icons-iconfont/dist/material-design-icons";

$roboto-font-path: '~roboto-fontface/fonts';
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

// Material Design Lite

$image_path: '~material-design-lite/dist/images';
@import "~material-design-lite/src/material-design-lite";

$color-primary: $palette-purple-500;
$color-primary-dark: $palette-deep-purple-700;
$color-accent: $palette-pink-A200;

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
